// Solarized Colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Walter+Turncoat&display=swap');

@mixin font-plain {
	font-family: sans-serif;
}

@mixin font-blocky {
	font-family: "Walter Turncoat", cursive;
}

@mixin font-pumpkin {
	font-family: "Are You Serious", cursive;
}

html, body {
	color: $base3;
	background-color: $base03;
	@include font-plain;
	font-size: 5vw;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: $base03 url('/images/2016-12-04_Episode-1_by-David-Revoy.jpg') center center no-repeat;
	background-size: cover;
}

h1 {
	color: $violet;
	@include font-pumpkin;
	text-align: center;
}

#root {
	display: flex;
	justify-content: space-around;
}

.countdown {
	background-color: $base02;
	padding: 1rem;
	opacity: 85%;
}

.clock {
	display: flex;
	justify-content: space-around;

	.clock-segment {
		flex: 1 1 0px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.value {
			@include font-blocky;
			font-size: 1.5em;
			padding: 0 0.1em;
			text-align: center;
			min-width: 2em;
		}

		.label {
			@include font-blocky;
			text-transform: uppercase;
			font-size: 0.5em;
			text-align: center;
		}
	}
}

.bg-source-link {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
	background-color: $base03;
	font-size: 0.5em;
	opacity: 85%;
	color: $blue;

	&:visited {
		color: $magenta;
	}

	&:hover,
	&:active,
	&:focus {
		color: $violet;
	}
}
